@import '../../variables';
@import '../../extends';
@import '../../mixins';
$borderRadius: 100px;
/*----------------------Media Query---------------------*/
 
/*    Device = Most of the Smartphones Mobiles (Portrait)  Screen = B/w 320px to 479px  */
@media (min-width: 320px) and (max-width: 480px) {

  
}


/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {


}


/* Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  
}

/* Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {



}


/* Device = Laptops, Desktops Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {

  .heading-and-dropdown-container{
    .sub-header-heading{
      font-size: rem(18px)!important;
    }
  }

}


/* Device = Desktops Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) and (max-width: 1600px) {
  .heading-and-dropdown-container{
    .sub-header-heading{
      font-size: rem(22px)!important;
    }
  }
}


@media (min-width: 1601px) {
  .heading-and-dropdown-container{
    .sub-header-heading{
      font-size: rem(30px);
    }
  }
}



/*----------------------Media Query---------------------*/

.new-sub-header-section {
    @extend %d-flex-align-center-space-btwn;
    border: 1px solid rgba(236, 241, 249, 0.9);
    border-top: none;
    border-left: 0px;
    border-right: 0px;
    // height: 56px;
    height: 8.1vh;
    .sub-header-left-section {
      padding: 8px 35px;
      @extend %d-flex-column;
        .heading-and-dropdown-container {
            @extend %d-flex-align-center;
            .sub-header-heading {
                text-transform: uppercase;
                font-size: rem(30px);
                font-weight: bold;
                font-family: 'HelveticaNeue-MediumCond';
                line-height: 0.8;
                letter-spacing: 0.6px;
                color: $color-thickGray;
                opacity: 0.9;

            }

            .select-day-for-tickets {
                margin: 0 10px;
                .MuiInputBase-root {
                  .MuiSelect-root {
                    padding: 5px 40px 5px 10px;
                    font-size: 0.8rem;
                    color: $color-thickGray;
                    opacity: 0.8;
                    border-radius: $borderRadius;
                  }
                  fieldset {
                    border: 1px dashed $color-borderLightGray;
                    border-radius: $borderRadius;
                  }
                }
            }

        }
        .sub-header-tickets-count {
          font-size: 0.9rem;
          line-height: 1.3;
          letter-spacing: 0.32px;
          color: $color-thickGray;
          opacity: 0.8;
        }
    }
    .sub-header-right-section {
      @extend %d-flex-align-center;
      .view-type-button-container {
        margin-right: 20px;
        .view-type-button {
          // margin: 0 5px;
          padding: 10px;
          width: 9.7%;
          height: 63.2%;
        }
        .active-view-button {
          background: $color-mdLightPurple;
          border-radius: 10px;
        }
      }
      .filter-sort-button-container {
        @extend %d-flex;
        margin: 0 7px;
        div {
          border-radius: 100px;
          display: flex;
          align-items: center;
          padding: 10px;
          border: 1px dashed rgba(206, 214, 226, 0.9);
          border-radius: $borderRadius;
          margin: 5px;
          cursor: pointer;

          .filter-sort-type-button {
            width: 20px;
          }
          .active-filter-sort-button {
            background: $color-mdLightPurple;
          }
        }
      }

      .custome-button-container {
        @extend %d-flex;
        margin: 0 7px;
        div {
          border-radius: 100px;
          display: flex;
          align-items: center;
          padding: 10px;
          border: solid 1px #ecf1f9;
          border-radius: 7px;
          margin: 5px;
          cursor: pointer;

          .filter-sort-type-button {
            width: 20px;
          }
          .active-filter-sort-button {
            background: $color-mdLightPurple;
          }
        }
      }

      .more-options-icon {
        padding: 7px;
        margin-right: 10px;
      }
    }


}
