@import '../../variables';


.user-page{
  .user-header-logo{
    .MuiAppBar-colorPrimary{
      background-color: $color-lightWhite;
  }
  }
}

.user-page> .user-header-logo> .MuiPaper-elevation4{
    box-shadow: none;
}

.user-logo{
    width: 25px;
}

.user-header-logo{
  .MuiAppBar-root{
    .MuiToolbar-root{
      display: flex;
      justify-content: space-between;
  }
  }
}

.user-page-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resetpassword-container{
    text-align: center;
    margin-top: 5%;
}

.resetpassword-fields{
    flex-direction: column;
}

.resetpassword-container-text-one{
    font-size: 25px;
    font-weight: bolder;    
    color: $color-thickGray;
    margin-top: 2%;
    // font-family: 'Helvetica Neue Condensed Bold';
}

.resetpassword-container-text-two{
    font-size: 14px;
    color:gray;
}

.resetpassword-container-text> p{
    margin-bottom: 0rem;
}

.resetpassword-field-one{
  .MuiInputBase-root{
    margin-top:2%;
    margin-left:38%;
    border: 1px solid $color-lightGray;
    padding: 9px 100px 9px 30px;
    border-radius: 30px;
    font-size: 15px;
    text-transform: capitalize;
  
  }
}
.resetpassword-field-two{
  .MuiInputBase-root{
    margin-top:1%;
    margin-left:38%;
    border: 1px solid $color-lightGray;
    padding: 9px 100px 9px 30px;
    border-radius: 30px;
    font-size: 15px;
    text-transform: capitalize;
  
  }
}


  .bottom-text{
    p{
      text-align: center;
      margin-top: 6%;
      color:$color-skyBlue;
  }
}

 

li{
  padding-right:20px;
}

.change-bottom-text{
  margin-top: 1%;
  text-align: center;
  nav{
    a{
      text-align: center;
      margin-top:7%;
      color:$color-skyBlue;
    }
  }
}

.change-password-container{
  position: fixed;
    bottom: 0px;
    width: 100%;
  .change-password-left-container{
      width: 50%;
      color: $color-lightGray;
      font-size: 15px;
      font-weight: 300;
      p{
        padding-left: 10px;
        font-size: 15px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        font-family: "helveticaNeueLight";
      }
  }
  .change-password-right-container{
      width: 50%;
      display: flex;
      .change-password-list{
          display: flex;
          list-style: none;
          a{
            li{
                font-size: 15px;
                color: $color-lightGray;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.2;
                letter-spacing: normal;
                font-family: "helveticaNeueLight";
            }
        }
      }
  }
}

.change-password-field-two {
  width: 100%;
  height: 50px;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  .MuiButton-outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 50px;
    background-color: $color-white;
    color: $color-white;
    border: 1px solid $color-lightGray;
    width: 24.4%;
    height: 50px;
    margin-top: 0%;
    // margin-left: 490px;
    text-transform: capitalize;
    background-color: $color-green;
    font-weight: 600;
    position: relative;
  }
  .recover-text{
    position: absolute;
    left: 62%;
    padding-bottom: 0px;
    padding-left: 5px;
    span{
      img{
        width: 25px;
        padding-top: 18px;
      }
    }
    p{
      padding-bottom: 30px;
      font-size: 12px;
      padding-left: 5px;
    }
  }
}

