@import '../../variables';
@import '../../mixins';

.tsks-lstng-body-section{
    height: 100%;
    // border: 1px solid red;
    .tsks-lstng-body-container{
        height: 83.4%;
        // border: 1px solid blue;
        
    }
}
