@import "../../../../variables";

.button-one{
    width: 5%;
    height: 15px;
    padding: 0px!important;
    border: none!important;
    background-color: $color-white;
    svg{
        width: 10px;
        padding-bottom: 5px;
    }
}

.stopwatch{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid $color-red;
    background-color: $color-white;
    border-radius: 10px;
}

.stop-watch-section{
    width: 100%;
}