@import '../../variables';
@import '../../extends';
@import '../../mixins';


/*----------------------Media Query---------------------*/
 
/*    Device = Most of the Smartphones Mobiles (Portrait)  Screen = B/w 320px to 479px  */
@media (min-width: 320px) and (max-width: 480px) {

  
}


/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {


}


/* Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  
}

/* Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {



}


/* Device = Laptops, Desktops Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  .xms-sidebar-container{
    .side-navbar-left-container{
      .side-bar-main-section{
        .sidebar-icon-button{
          .sidebar-icon-name{
            font-size: rem(6px)!important;
          }
        }
      }
    }

  }
  

}


/* Device = Desktops Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) and (max-width: 1600px) {
  .xms-sidebar-container{
    .side-navbar-left-container{
      .side-bar-main-section{
        .sidebar-icon-button{
          .sidebar-icon-name{
            font-size: rem(6px)!important;
          }
        }
      }
    }

  }
}


@media (min-width: 1601px) {
  .xms-sidebar-container{
    .side-navbar-left-container{
      .side-bar-main-section{
        .sidebar-icon-button{
          .sidebar-icon-name{
            font-size: rem(10px)
          }
        }
      }
    }

  }
}



/*----------------------Media Query---------------------*/

$transitionSpeed: 0.3s;

.xms-sidebar-container {
  display: flex;
  user-select: none;
  height: 100%;
  width: 100%;
  .side-navbar-left-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 5.1%;
    height: 100%;
    background: $color-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    // padding: 10px 0;
    @extend %d-flex-column;
    justify-content: space-between;
    z-index: 500;
    .side-bar-main-section {
      @extend %d-flex-column;
      height: 100%;
      .side-bar-logo {
        display: block;
        // margin: 0 auto 40px auto;
        margin: 14px 29.9% 6.9% 28.9%;
        width: 41.2%;
        height: 4.9%;
      }
      .sidebar-icon-button {
        width: 82.5%;
        display: flex;
        margin: 13.1% 8.8% 6% 8.8%;
        padding: 0 !important;
        // height: 50px;
        height: 6%;
        min-width: 0;
        border-radius: 14px 14px 14px 0;
        .MuiButton-label {
          @extend %d-flex-align-justify-center;
          position: relative;
        }
        .sidebar-icon-name {
          writing-mode: vertical-lr;
          // transform: rotate(270deg);
          display: block;
          font-size: rem(10px);
          color: $color-strongPurple;
          font-weight: 600;
          // position: absolute;
          // left: -6%;
        }
        .sidebar-icon {
          // height: 27%;
          width: 32.5%;
          // margin: 0px 3px 0px -6px;
        }
        .navbar-notification {
          width: 10px;
          height: 10px;
          background-color: $color-yellow;
          border-radius: 50%;
          position: absolute;
          right: 4%;
        }
      }
      .active-sidebar-icon {
        background: $color-mdLightPurple;
        border-radius: 14px 14px 14px 0;
      }
    }
    .sidebar--footer-setting-icon {
      width: 30.9%;
      height: 2.8%;
      // margin: 1.4% 35.1% 0% 34%;
      bottom: 1.4%;
      left: 35.1%;
      right: 34%;
      cursor: pointer;
      position: absolute;

    }
  }

  .side-navbar-right-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 5.1%;
    height: 100%;
    @extend %d-flex-column;
    align-items: center;
    transition: $transitionSpeed;
    background: $color-exDarkPurple;
    box-sizing: border-box;
    .sidebar-close-icon {
      position: absolute;
      height: 3.5%;
      right: -4%;
      top: 9.5%;
      transform: rotate(90deg);
      cursor: pointer;
    }
    .sidebar-open-icon {
      display: block;
      position: absolute;
      height: 22px;
      right: -10px;
      top: 70px;
      transform: rotate(-90deg);
      z-index: 5000;
      cursor: pointer;
    }
  }
  .open-sidebar {
    width: 18.1%;
  }
  .close-sidebar {
    width: 1%;
    padding: 0;
  }
  .hide {
    overflow: hidden;
    transition: $transitionSpeed;
    width: 0%;
  }
  .show {
    transition: $transitionSpeed;
    overflow: visible;
    width: 100%;
    height: 100%;
  }

  .layout-body-section {
    height: 100%;
    overflow: auto;
    transition: $transitionSpeed;
    margin: 0px;
  }
  .sidebar-is-open {
    width: 76.8%;
    margin-left: 23.2%;
  }
  .sidebar-is-closed {
    width: 93.9%;
    margin-left: 6.1%;
  }
}
