$color-white: #FFFFFF;
$color-lightSkyBlue:#87cefa;
$color-lightWhite:#F9F9F9;
$color-thickWhite: #ECF1F980;
$color-darkWhite: #ECF1F9;
$color-skyBlue: #7AC9FF;
$color-thickGray: #656565;
$color-darkGray: #8D8D8D;
$color-lightGray: #C8C8C8;
$color-lightWeightGray: #C8C8C880;
$color-thinGray: #00000029;
$color-dimGray: #707070;
$color-veryLightGray: #cecece;
$color-white-gray: #D2D2D2;
$color-borderLightGray: #d0cfec;
$color-red: #EA5455;
$color-green: #41E590;
$color-orange: #FFC089;
$color-black: #151B26;
$color-snowFlurry: #B4E0FF;
$color-lightPink: #FEB1B2;
$color-supLightPink: #FEF2F2;
$color-strongPink: #F1787B;
$color-darkPink: #d50000;
$color-mediumPink: rgba(213, 0, 0, 0.5);
$color-lightPink: rgba(213, 0, 0, 0.2);
$color-mediumAquarium: #57FFA8;
$color-muzliColor: #423D54;
$color-light-green: #2DCD7A;
$color-thinBlue: #A4D8FB;
$color-black: #4441431a;
$color-violet: #743ad5;
$color-pink: #d53a9d;
$color-lightSkyBlue: #ECF1F9;
$color-thickWeightGray: #696969;
$color-lightPurple: #F8F8FC;
$color-mdLightPurple: #D9DCED;
$color-strongPurple: #4e58a9;
$color-lightPurple: rgba(78, 88, 169, 0.2);
$color-exLightPurple: rgba(78, 88, 169, 0.1);
$color-lightViolet: rgba(78, 88, 169, 0.5);
$color-warningError:#f44336;
$color-errorPopUpColor: #fd673a;
$color-errorBackgroundColor:#FFF7F5;
$color-borderColor:#c6c6c6;
$color-exDarkPurple: rgba(78, 88, 169, 0.04);
$color-yellow: #ffb300;
$color-boxShadow: #00000029;
$color-searchBoxShadow: rgba(209, 203, 203, 0.16);
$color-purple: #7467f0; 
$color-lightDarkBlue:rgba(0, 150, 255, 0.2);
$color-thinLightViolet: rgba(78, 88, 169, 0.2);
$color-wildBlueYonder: #A3AAD1; 
$color-wildBlueYonderlight:rgba(78, 88, 169, 0.05);
$color-veryLighterGray:rgba(0, 0, 0, 0.16);
$color-yellow: yellow;